extends layout

block layout-content

  div.View
    h1.Banner CodeAcademy
    div.Message
      div.Title
        h3 Best Code School

    div.Links
        p
            a(href='/teachers') Teachers
        p
            a(href='/students') Students
        p
            a(href='/assign') Assign student to teacher
        p
            a(href='/api-docs') API Documentation  