extends layout

block layout-content
  div.View
    h1.Banner CodeAcademy
    div.Message
      div.Title
        h3 Best Code School
        h1 Our Students
    div.NavButtons
          table(style='width:30%', border='1')
              tr
                th Surname
                each val in students
                  tr
                    td= val.surname
    p
    form#form
      label(for="surname")
        input#surname(name="surname" placeholder="Student Surname")  
    p
    button#submit Add Student
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='addStudent.js')