extends layout

block layout-content



  div.View
    h1.Banner CodeAcademy
    div.Message
      div.Title
        h3 Best Code School
        h1 Our Teachers

    div
      table(style='width:30%' border='1')
        tr
          th Surname
          th Max students
            each val in teachers
              tr
                td= val.surname
                td= val.studCapacity
    p
    form#form
      label(for="surname")
        input#surname(name="surname" placeholder="Teacher Surname" )  
      label(for="studCapacity")
        input#studCapacity(name="studCapacity"  placeholder="Max Students Capacity")  
    p
    button#submit Add Teacher
    script(src='https://code.jquery.com/jquery-3.6.0.min.js' integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=' crossorigin='anonymous')
    script(src='js/addTeacher.js')